<main class="register-container" role="main">
  <div class="content">
    <header>
      <h1>BOOK EXCHANGE</h1>
      <p class="tagline">Join Our Community</p>
    </header>
    <section class="register-form">
      <h2>Create An Account</h2>
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        @for (msg of errorMsg; track msg) {
          <p>{{msg}}</p>
        }
      </div>
      <form (ngSubmit)="register()">
        <div class="form-group">
          <label for="firstname">Firstname</label>
          <input [(ngModel)]="registerRequest.firstname" type="text" id="firstname" name="firstname" placeholder="John" required>
        </div>
        <div class="form-group">
          <label for="lastname">Lastname</label>
          <input [(ngModel)]="registerRequest.lastname" type="text" id="lastname" name="lastname" placeholder="Doe" required>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input [(ngModel)]="registerRequest.email" type="email" id="email" name="email" placeholder="exemple@email.com" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [(ngModel)]="registerRequest.password" type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-user-plus"></i> Create an account
          </button>
        </div>
      </form>
    </section>
    <section class="login-link">
      <p>Already have an account?</p>
      <a class="btn btn-secondary" (click)="login()">Login</a>
    </section>
  </div>
</main>
